---
import H1 from "./H1.astro";

const techs = [
  {
    name: "React",
    src: "/icons/React.svg",
  },
  {
    name: "Astro",
    src: "/icons/Astro.svg",
  },
  {
    name: "Framer Motion",
    src: "/icons/FramerMotion.svg",
  },
  {
    name: "Tailwind",
    src: "/icons/Tailwind.svg",
  },
  {
    name: "NextUI",
    src: "/icons/NextUI.svg",
  },
];
---

<div class="flex flex-col items-center my-20 mb-60">
  <H1 id="consejos">CREADO CON</H1>
  <div
    class="flex justify-center items-center max-w-5xl w-full my-16 gap-16 flex-wrap"
  >
    {
      techs.map((t) => (
        <div class="flex flex-col justify-center items-center gap-6 font-semibold text-xl">
          <img class="w-32 h-32" src={t.src} alt={t.name} />
          <span>{t.name}</span>
        </div>
      ))
    }
  </div>
  <span class="flex text-xl gap-2">
    Puedes encontrar el repositorio
    <a href="https://github.com/ynoacamino/portafolio" target="_blank"
      ><u><strong>AQUÍ</strong></u></a
    >
  </span>
</div>
