---
import ButtonLink from "./ButtonLink.astro";
---

<footer class=" flex justify-center items-center p-10 py-32">
  <div class="w-full max-w-5xl flex flex-col justify-center items-center gap-16">
    <div class="flex flex-col gap-3 justify-center items-center">
      <span class="text-7xl font-bold text-center">
        Gracias por visitar
      </span>
      <div class="text-gray-800 flex flex-col ml-5 font-semibold">
        <span>
          Hecho por @ynoacamino el 20 de noviembre
        </span>
      </div>
    </div>
    <div class=" flex gap-6 flex-wrap">
      <ButtonLink href="/" target noWidth>
        Correo Electronico
      </ButtonLink>
      <ButtonLink href="/" target noWidth>
        Instagram
      </ButtonLink>
      <ButtonLink href="/" target noWidth>
        GitHub
      </ButtonLink>
      <ButtonLink href="/" target noWidth>
        Linkedin
      </ButtonLink>
    </div>
  </div>

</footer>