<footer class="bg-[#131d25] flex justify-between items-end p-10">
  <div class="flex flex-col gap-4">
    <span class="text-2xl font-bold text-white">
      !Que bien verte por aqui!
    </span>
    <div class="text-gray-400 flex flex-col ">
      <span>
        ynoacamino@gmail.com
      </span>
      <span>
        Hecho por @ynoacamino el 20 de noviembre
      </span>
    </div>
  </div>
  <div class=" flex gap-6">
    <a class="text-gray-400 hover:text-gray-100 hover:scale-105 hover:cursor-pointer transition-all">
      Correo Electronico
    </a>
    <a class="text-gray-400 hover:text-gray-100 hover:scale-105 hover:cursor-pointer transition-all">
      GitHub
    </a>
    <a class="text-gray-400 hover:text-gray-100 hover:scale-105 hover:cursor-pointer transition-all">
      Instagram
    </a>
    <a class="text-gray-400 hover:text-gray-100 hover:scale-105 hover:cursor-pointer transition-all">
      Linkedin
    </a>
  </div>
</footer>