---
import H1 from "./H1.astro";
import { Button } from "@nextui-org/react";

const techs = [
  {
    name: "Vite",
    src: "Vite.svg"
  },
  {
    name: "Apollo",
    src: "Apollo.svg"
  },
  {
    name: "Astro",
    src: "Astro.svg",
  },
  {
    name: "Express",
    src: "Express.svg",
  },
  {
    name: "Apollo",
    src: "Apollo.svg"
  },
  {
    name: "Astro",
    src: "Astro.svg",
  },
  {
    name: "Express",
    src: "Express.svg",
  }
];
---

<div class="flex flex-col items-center my-20">
  <H1 id="#tecnologias">Tecnologias</H1>
  <div class="flex gap-2 justify-center items-center max-w-5xl w-full my-10">
    <Button color="primary">
      hola
    </Button>
    <button class="z-0 group relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal subpixel-antialiased overflow-hidden tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 px-unit-4 min-w-unit-20 h-unit-10 text-small gap-unit-2 rounded-medium [&>svg]:max-w-[theme(spacing.unit-8)] data-[pressed=true]:scale-[0.97] transition-transform-colors-opacity motion-reduce:transition-none bg-[#191970] text-primary-foreground data-[hover=true]:opacity-hover">
      hola
    </button>
  </div>
</div>